@import url('https://fonts.googleapis.com/css?family=Advent+Pro:100,200,300,400,500,600,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}
.body {
    font-family: 'Roboto', sans-serif;
}
.logo {
    width: 80px;
    height: auto;
}
.menu_container {
    width: 100%;
    margin: auto;
}
.header {
    height: auto;
    background-color: #000000;
}
.header .menu_container {
    display: flex;
    justify-content: space-between;
}
.logo, .icon_menu {
    margin: 8px;
    color: white;
}
.icon_menu {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #999;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    cursor: pointer;
}
.nav {
    position: absolute;
    top: 156px;
    left: -100%;
    width: 100%;
    z-index: 100;
    transition: all 0.5s;
}
.menu {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    height: 40px;
    cursor: pointer;

}
.menu_link {
    display: block;
    padding: 8px;
    background: rgba(50, 50, 50, 0.9);
    color: #fff;
    height: 40px;
    border-bottom: 1px solid white;
    list-style: none;
    font-size: 1rem;
}
.menu :hover {
    background: #fff;
    color: black;
}
.showMenu {
    left: 0;
}
.search_container {
    background-color: rgb(61, 60, 60);
    display: flex;
    justify-content: space-between;
}
.find, .icon_cart {
    border: 0;
    margin: 10px;
    font-size: 1rem;
}
.icon_cart {
    border: 0;
    margin: 10px;
    margin-top: 40px;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #999;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    cursor: pointer;
}
.banner {
    max-width: 900px;
    margin: 10px auto;
    display: block;
    
}
.find {
    width: 200px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    padding: 0 0 0 5px;
}
.arts_container {
    margin: 0 1rem;
}
.arts_container h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem;
}
.smartphones, .tablets, .laptops, .desktops {
    margin-top: 2rem;
    background-color: white;
    display: block;
    overflow: hidden;
    max-width: 30em;
    text-align: center;
    box-shadow: 5px 5px 1em rgba(0, 0, 0, .5);
    border-radius: 0.5em;
}
.place-picture {
    text-align: center;
    overflow: hidden;
}
.place-img {
    max-width: 100%;
}
.arts_button {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none; 
    padding: 0.5rem 1rem;
    border: 0;
    border: 2px solid black;
    padding: 1rem;
    margin: 1rem;
    text-transform: uppercase;
    background-color: #f1ecec;
    border-radius: 25px;
}


@media screen and (min-width: 760px) {
    .arts_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }
    .menu_link {
        padding: 15px;
        height: 80px;
    }
    
}
@media screen and (min-width: 1440px) {
    .arts_container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .menu_link {
        padding: 40px;
        height: 130px;
        font-size: 3rem;
    }

}
